.background{
    background-image: url(https://cdn.dribbble.com/users/507883/screenshots/13801545/media/e0ad9ccf44dbd83bbe6e599569fa5f4c.jpg);
    height: 100vh;
}

@media(max-width: 992px){
    .background {
      height: 104.3vh;
      margin-top: -2rem;
    }
  }
  